/* header */
.header {
  position: relative;
  background-image: url("../images/image1.svg");
  width: 1366px;
  height: 324px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.div1 {
  position: relative;
  z-index: 1;
}

.main-div {
  display: flex;
  justify-content: space-between;
  width: 1089px;
  height: 20px;
  margin: 0 auto;
  padding-top: 30px;
}
.ul {
  display: flex;
}
.main-div a {
    text-transform: uppercase;
}
.li {
  margin-right: 52px;
}
.aboutus {
  width: 173px;
  margin-top: 145px;
  margin-left: 139px;
  color: white;
}
.aboutus h1 {
  font-size: 42px;
}
.aboutus a {
  font-size: 14px;
}
.home {
  display: flex;
  margin-top: 18px;
}
.divider {
  width: 2px;
  height: 19px;
  background-color: aqua;
  margin: 0px 16px;
}
.aboutus a {
    font-size: 14px;
    color: white;
} 
.aa {
    color: #5863F8;
}
a {
    color: #fff;
}

/* section one */
.main-div1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 1089px;
    margin-top: 80px;
    margin-bottom: 90px;
}
.left-block1 {
    width: 444px;
    height: 388px;
    background-color: #FFFFFF;
}
.right-block1 {
    width: 537px;
    height: 461px;
    background-color: #FFFFFF;
    margin-left: 108px;
}
.zeda {
    display: flex;
    width: 536px;
    height: 185px;
    justify-content: space-between;
}
.poto1 {
    background-image: url('../images/image4.jpg');
    width: 260px;
    background-position: center;
}
.poto2 {
    background-image: url('../images/image3.jpg');
    width: 260px;
    background-position: center;
}
.qveda1 {
    width: 536px;
    height: 260px;
    background-image: url('../images/image5.jpg');
}
.qveda {
  margin-top: 16px;
}
.left-block1 h3 {
  font-size: 42px;
  margin-bottom: 14px;
  width: 306px;
  height: 112px;
}
.left-block1 p {
  width: 444px;
  font-size: 16px;
}
.readme {
  width: 184px;
  height: 50px;
  background-color: #5863F8;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.readme img {
  margin-left: 20px;
}

/* section 3 styles */
.section3 {
  width: 1366px;
  height: 612px;
  background-image: url('../images/chris-lee-70l1tDAI6rM-unsplash.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  margin: 0 auto;
  position: relative;
}

.overlay::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 40%;
}

.topdiv h3 {
  font-size: 14px;
  color: #5863F8;
}
.topdiv p {
  color: #FFFFFF;
  font-size: 42px;
  width: 332px;
  height: 112px;
}
.maindiv3 {
  position: relative;
  width: 1088px;
  margin: 0 auto;
  padding-top: 93px;
  z-index: 1;
}
.whitedivs {
  width: 260px;
  height: 260px;
  background-color:#FFFFFF;
  display: flex;
  margin-right: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottomdiv {
  display: flex;
}
.bottomdiv-class {
  width: 59px;
  height: 58px;
  border-radius: 50%;
  background-color: #5863F8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}
.bottomdiv-class img {
  align-self: center;
  width: 32.73px;
  height: 32.73px;
}
.whitedivs h3 {
  width: 142px;
  height: 48px;
  text-align: center;
  margin-top: 15px;
}
.whitedivs h4 {
  width: 221px;
  height: 62px;
  color: #B1B1B1;
  text-align: center;
}


/* section 4 styles */
.maindiv4 {
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  display: flex;
}
.left-block4 {
  width: 432px;
  height: 325px;
  justify-content: center;
  align-items: center;
  padding-top: 76px;
  margin-right: 212px;
}
.right-block4 {
  display: flex;
}
.section4 {
  width: 1366px;
  background-color: #F8F8F8;
  margin: 0 auto;
}
.marius {
  display: flex;
  margin-bottom: 20px;
}
.left-block4 h2 {
  color: #5863F8;
  font-size: 14px;
  text-transform: uppercase;
}
.left-block4 h4 {
  font-size: 42px;
  margin-bottom: 34px;
}
.marius p {
  padding-left: 19px;
}
.left-block4 h3 {
  width: 352px;
  height: 62px;
  font-size: 14px;
}


/* section 5 styles */

.section5 {
  width: 1366px;
  margin: 0 auto;
}
.topdiv5 {
  padding-top: 90px;
  padding-left: 139px;
}
.topdiv5 h3 {
  font-size: 14px;
  color: #5863F8;
}
.topdiv5 h4 {
  font-size: 42px;
  margin-bottom: 54px;
  width: 475px;
  height: 112px;
}
.bottomdiv5 {
  justify-content: space-between;
  width: 1366px;
  margin: 0 auto;
  display: flex;
}



/* footer */
.footer {
  width: 1366px;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer-wraper {
  width: 1012px;
  height: 272px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 90px;
  flex-wrap: wrap;
}
.footer-div-1 {
  width: 260px;
  margin-right: 200px;
}
.footer-div-1 h2 {
  color: #FFFFFF;
  font-size: 24px;
  padding-bottom: 22px;
}
.footer-div-1 p {
  color: #B1B1B1;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 20px;
}
.footer-div-1 img {
  margin-right: 10px;
}

.footer-div-2 {
  width: 94px;
}
.footer-div-2 h3 {
  color: #FFFFFF;
  font-size: 18px;
  padding-bottom: 21px;
}
.footer-div-2 li {
  color: #5863F8;
  font-size: 14px;
  padding-bottom: 11px;
}

.footer-div-3 {
  width: 67px;
  margin-left: 94px;
}
.footer-div-3 h3 {
  color: #FFFFFF;
  font-size: 18px;
  padding-bottom: 21px;
}
.footer-div-3 li {
  color: #5863F8;
  font-size: 14px;
  padding-bottom: 11px;
}


.footer-div-4 {
  width: 178px;
  margin-left: 117px;
}
.footer-div-4 h3 {
  color: #FFFFFF;
  font-size: 18px;
  padding-bottom: 21px;
}
.finaly-ul i {
  color: #5863F8;
  width: 16.04px;
  height: 12.83px;
}
.finaly-ul a {
  font-size: 14px;
  color: #FFFFFF;
}
.fonaly-li {
  padding-bottom: 21px;
}
.fonaly-li a {
  padding-left: 14px;
}
.copyright {
  margin-right: auto;
  font-size: 14px;
  line-height: 19px;
  color: #B1B1B1;
  margin-top: 54px;
  margin-bottom: 41px;
}

.copyright a {
  color: #5863F8;
}